@font-face {
  font-family: 'icomoon';
  src:  url('../fonts_icons/icomoon.eot?tb0kvf');
  src:  url('../fonts_icons/icomoon.eot?tb0kvf#iefix') format('embedded-opentype'),
    url('../fonts_icons/icomoon.ttf?tb0kvf') format('truetype'),
    url('../fonts_icons/icomoon.woff?tb0kvf') format('woff'),
    url('../fonts_icons/icomoon.svg?tb0kvf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
  color: #fff;
}
